@{
    ViewBag.Title = "Giới Thiệu | GIAYPATIN";
    Layout = "~/Views/Shared/Default.cshtml";
}

<p class="lead">Giới thiệu</p>
<div class="thumbnail col-md-12">
    <div style=" text-align: justify; padding: 10px; padding-top:0px">
        <p>LỊCH SỬ HÌNH THÀNH </p>

        <p>
            <span style="margin-left: 20px"></span> Thành lập vào tháng 10 năm 1910, Giaypatin.vn lúc đó là một cửa hàng buôn bán giày patin nhỏ lẻ. Qua nhiều năm Giaypatin.vn đã từng bước lớn mạnh và phát triển trong lĩnh vực kinh doanh giày patin do các hãng điện tử hàng đầu trên thế giới sản xuất. Và đến tháng 10 năm 2007, giày patin chính thức thành lập Công ty Cô phần Thương mại - Dịch vụ Giaypatin.vn.
            Giaypatin.vn luôn phấn đấu, nỗ lực không ngừng để đem lại cho người tiêu dùng những sản phẩm công nghệ tiên tiến, và đã trở thành một trong những thương hiệu đáng tin cậy và được yêu thích nhất. Giaypatin.vn luôn cam kết cung cấp hàng chính hãng từ các nhà sản xuất, chất lượng luôn được đảm bảo và mức giá phù hợp trong môi trường cạnh tranh.
        </p>


        <p>LĨNH VỰC HOẠT ĐỘNG</p>

        <span style="margin-left: 20px"></span>Giaypatin.vn luôn đa dạng các mặt hàng và phong phú về mẫu mã nhằm đáp ứng nhu cầu ngày càng cao của khách hàng. <br />
        <span style="margin-left: 20px"></span>Xây dựng thành công một thương hiệu Giaypatin.vn riêng, mang tên Giaypatin.vn với chất lượng tốt nhất và giá cả phù hợp. <br />
        <span style="margin-left: 20px"></span>Phân phối nhiều giày patin của nhiều hãng nổi tiếng trên thế giới<br />
        <span style="margin-left: 20px"></span>Giaypatin.vn còn là địa chỉ tin cậy đối với khách hàng có nhu cầu bảo hành và bảo trì cho các loại giày patin,… Với các loại hình dịch vụ bảo hành và bảo trì tận nơi, bảy ngày trong tuần, chúng tôi bảo đảm tối ưu hóa năng lực các máy móc, thiết bị của khách hàng. <br />
    </div>
</div>